@using System.Security.Claims
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Blog_System.styles.css" asp-append-version="true" />

<div class="profile-container">
    <div class="profile-card">
        <div class="profile-image">
            @if(Model.Image != null)
            {
                <img src="~/Images/@Model.Image" />
            }
            else
            {
                <img src="~/Images/image.png" />
            }
        </div>

        <div class="profile-info">
            <h2>@Model.FirstName @Model.LastName</h2>

            <p>
                <strong>Username:</strong>
                <span asp-for="UserName">@Model.UserName</span>
            </p>

            <p>
                <strong>Email:</strong>
                <span asp-for="Email">@Model.Email</span>
            </p>

            <p>
                <strong>Birthdate:</strong>
                <span asp-for="BirthDate">@Model.BirthDate.ToString("yyyy-MM-dd")</span>
            </p>
        </div>

        @* عشان لما اظهر الاشخاص بالنسبه للعامل تسجيل دخول ميظهرش ليه زرار التعديل *@
        @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UserId)
        {
            <div class="profile-actions">
                <a href="@Url.Action("EditProfile", "Profile", new { id = Model.UserId })" class="btn btn-primary">
                    Edit Profile
                </a>

                @* <a asp-action="EditProfile" asp-controller="Profile" class="btn btn-primary">Edit Profile</a> *@
            </div>
        }
        else
        {
            <div class="profile-actions">
                
                <a asp-action="EditProfile" asp-controller="Profile" class="btn btn-primary">Follwo</a>
            </div>
            <div class="profile-actions">

                <a asp-action="EditProfile" asp-controller="Profile" class="btn btn-primary">Chating</a>
            </div>
        }
    </div>
</div>

